 <!-- Page Content -->
 <div class="container" style="margin-top: 2%">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Qui sommes nous ?
    <!-- <small>Subheading</small> -->
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="">Accueil</a>
    </li>
    <li class="breadcrumb-item active">Qui sommes nous ?</li>
  </ol>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
    </div>
    <div class="col-lg-6 bg-light">
      <h2> Avenir Garantie </h2>
    
      <p>« Avenir Garantie » est une marque de la société Aquilam expert de la caution.
        Aquilam est une SAS créée en juillet 2017.
        <p>
        Aquilam a le statut de courtier en assurance spécialisé dans la caution et la garantie. 
        La société est inscrite à l’ORIAS sous le n° 17005403 en tant que qu’intermédiaire  en assurance.</p>
      <p> Aquilam est dirigé par Armand Gaillabaud  son fondateur qui détient 70% du capital. 
        Après une formation supérieure en sciences économiques et sociales, Armand Gaillabaud a développé pendant 30 ans une forte expérience  dans  le crédit et la vente de services financiers auprès des TPE, PME et Grandes Entreprises  au sein de différentes banques et d’établissements financiers.
       <p>Ces 12 dernières années Armand Gaillabaud s’est spécialisé dans la caution et la garantie, en tant que Chargé d’Affaires Grands Comptes chez l’un des leaders de la caution en France, Atradius et en tant que Responsable Développement en France pour un groupe américain, AmTrust présent en Europe. 
      </p> <p>Ces expériences réussies lui ont permis  d’approfondir ses connaissances du monde de l’entreprise.
        Il a su démontrer sa capacité à mettre en œuvre l’ensemble de ses compétences techniques, financières et  commerciales auprès de différents interlocuteurs comme les Directeurs Financiers,  les Responsable Juridiques, les avocats, les Experts Comptables, les Fonds d’Investissements, les Courtiers  dans la rédaction de contrat cadre, la gestion, le financement du poste clients dans un souci d’atteindre, voire de dépasser, les objectifs contractuels.      
       <p> C’est pourquoi, aujourd’hui, Armand Gaillabaud apporte son expertise dans la mise en place et la gestion de lignes de caution  plus particulièrement  dans le secteur de la construction et de la promotion immobilière.
        </p>
    </div>
  </div>
  <!-- /.row -->

  <!-- Our Customers -->
  <h2>Nos clients et partenaires</h2>
  <div class="row">
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
  </div>
  <!-- /.row -->

</div>