<div class="container" style="margin-top: 2%">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">TPE - PME
       <!-- <small>Subheading</small> -->
     </h1>
   
     <ol class="breadcrumb">
       <li class="breadcrumb-item">
         <a href="">Accueil</a>
       </li>
       <li class="breadcrumb-item active">Courtiers grossistes</li>
     </ol>
   
     <div class="row">
 
         <div class="col-lg-8">
             <div class="breadcrumb">
                 <h2> Portrait du courtier grossiste</h2>
                  <p>Un business model aux atouts considérables </p>
               <p>Méconnue du grand public (April, Add  Value,…), cette profession conçoit des produits d’assurance ou de caution, les placent chez un porteur de risque, les commercialisent  via un réseau d’intermédiaire qu’elle se charge d’animer et gère les contrats souscrits.</p>
             <u><p style="font-style: italic">Des atouts pour séduire les assureurs….  </p></u> 
             <p>Les courtiers grossistes permettent aux assureurs d’être présents sur les marchés de niche (Agence de voyage, Interim, GFA, ICPE, CMI).  </p>
             <p>Le courtier de proximité reconnaît la difficulté que représente la sélection des meilleurs partenaires assureurs en caution et éprouvent le besoin d’optimiser son temps dans cette recherche pour respecter les impératifs de réactivité et de et de rentabilité.</p>
            <p>L’actualité du marché de la construction dans le domaine de la caution est complexe d’où l’intérêt de trouver le meilleur expert pour pérenniser le portefeuille.</p> 
            <ul>
              <li>	Accédez aux meilleures offres en caution, avec un code unique et  sans minimum de production et sur une gamme complète de produits (cf liste des types de cautions),</li>
              <li>	Optimisez le temps passé sur vos recherches de solutions</li>
              <li>	Déléguez la gestion de vos cautions  </li>
            </ul>
            <p>En s’appuyant sur leur réseau de courtiers de proximité, les grossistes sont en mesure d’apporter le volume d’affaires nécessaire pour garantir l’équilibre technique du portefeuille de contrats qu’ils conçoivent.</p>
            <p>Les produits en caution sont une véritable complémentarité et de diversification de leurs portefeuilles.</p>
            <p>Les produits en caution permettent aux courtiers de proximité d’étendre leurs offres et de répondre à toutes les attentes de leurs clients.</p>
            <p> Contrairement au secteur de l’assurance, le courtier grossiste n’a pas la délégation des contrats et des contentieux et des appels en paiement qui restent à la charge des de l’assureur.
              </p> <u><p style="font-style: italic">… et les courtiers conseils de proximité  </p></u> 

              <p>Le courtage de proximité ne voit pas négativement la croissance des courtiers grossistes, surtout en matière de caution, ou le courtier de proximité ne dispose peu ou pas de compétences.  </p>
              <p>Les courtiers de proximité ne proposent pas d’offres en caution, sauf éventuellement en caution légales et réglementées.</p>
<p>De plus, le courtier de proximité n’a pas accès direct aux assureurs garants spécialisés dans le domaine de la caution.</p>
<p>Le courtier grossiste en caution permet aux courtiers d’étendre son offre. </p>
            <p>L’outil informatique est incontournable dans ce modèle. Il est au cœur de la stratégie de développement des grossistes pour fournir des outils à leurs courtiers partenaires. </p>
 <p>L’extranet à disposition des courtiers leur permet de piloter le portefeuille client (prospection et production), d’éditer des documents (fiche d’étude).</p>
 <p>L’extranet doit permettre au courtier de proximité d’avoir une visibilité sur son assuré en matière de facturation et d’encours ou d’engagements).</p>
    <p>Les marges du courtage s’érodent dans un contexte de concurrence.</p> 
<p>Le développement au produit de la caution devrait permettre une optimisation du portefeuille.</p>
<p>Le rôle du courtier grossiste est d’accompagner (conseils technique, juridique) le courtier de proximité.</p>
<p>Le succès des courtiers grossistes tient à un positionnement qui répond à la fois aux besoins des assureurs et du courtage de proximité. Le courtier grossiste permet aux courtiers d’accéder aux meilleurs assureurs IARD des entreprises.</p>
<p>L’une des clés  de la réussite et d’obtenir les codes courtage et d’avoirs accès aux produits des meilleurs assureurs du marché.</p>
<p>Concernant les agents généraux, ils s’appuient pour compléter les solutions de leurs compagnies  sur les risques entreprises et accéder aux meilleures offres.    </p>
<p>Quels atouts ont les courtiers grossistes pour fidéliser les Cies d’assurance mais aussi leurs apporteurs d’affaires privilégiés, les courtiers de proximité ou spécialisé ?</p>
<p>Les courtiers grossistes sont un complément aux courtiers de proximités.</p>
<p>Proximité, réactivité, technicité, sont les préceptes que développent les courtiers grossistes pour fidéliser leurs apporteurs.</p>
<p>Bien qu’elle souhaite le développer ou n’y ai pas encore tenté de le faire, la question se pose pour les courtiers grossistes de faire évoluer son modèle économique en élargissant son offre et tendre vers une solution globale en intégrant le produit  caution.</p>
</div>
<div class="breadcrumb">
    <h2> Le périmètre d’intervention</h2>
    <ul>
      <h3>Les garanties légales et réglementées</h3>	
      <ul>
        <li>-	GFA (Garantie Financière d’achèvement)</li>
        <li>-	CMI (Constructeur de Maisons Individuelles)</li>
        <li>-	Travail Temporaire </li>
        <li>-	Portage Salariale</li>
        <li>-	Agence de Voyage</li>
        <li>-	ICPE (Garanties Environnementales)</li>
        <li>-	Loi Hoguet (Administrateur de Biens)</li>
        <li>-	Accises (vins et spiritueux)</li>
        <li>-	Cautions douanes</li>
          <li>-	Garanties financières pour intermédiaires en assurance</li>
      </ul>
    </ul>
</div>       
         </div>
         <div class="col-lg-4">
             <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
           </div>
       </div>
 
 
 
 </div>