
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" href=""  >100%  Garanti</a>
    <img width="50" alt="AQUILAM Logo" src="./assets/img/logoaquilam.jpg">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
             <b> <a class="nav-link" routerLink=""  routerLinkActive="router-active1"  >Accueil</a> </b>
            </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="menu/about/"  routerLinkActive="router-active" (click)="reinitdropdown()" >Qui sommes nous ?</a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" routerLink="#" routerLinkActive="router-active" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Entreprise
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" routerLink="menu/tpe-pme" routerLinkActive="router-active">TPE - PME</a>
            <a class="dropdown-item" routerLink="menu/assureurs" routerLinkActive="router-active" >Assureurs</a>
          </div>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="menu/courtier-grossistes/" routerLinkActive="router-active"  >
              Professionels de l'assurance </a>
          </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="menu/services/" routerLinkActive="router-active" >Notre expertise</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="menu/blogs/" routerLinkActive="router-active">Blog</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="menu/contact/" routerLinkActive="router-active">Contact</a>
        </li>
      </ul>
    </div>


  </div>
  
  <div class="navbar-expand ml-auto navbar-nav"> 
    <div *ngIf="currentUser===null" class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/menu/login" >
          Connexion
        </a>
      <a class="nav-item nav-link" href="https://twitter.com/armand" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@armand" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
    <div *ngIf="currentUser!==null" class="navbar-nav">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{currentUser.firstName}} &nbsp;{{currentUser.lastName}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" routerLink="view/userview">Mon compte</a>
            <a class="dropdown-item" routerLink="view/users">Espace admin</a> 
            
            <button class="dropdown-item" (click)="logout()">Se déconnecter</button>
          </div>
    </div>
  </div>
</nav>
