
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('http://placehold.it/1900x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Entreprises</h3>
              <p>Entreprises de types TPE et PME</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Assureurs</h3>
              <p>Assureurs construction</p>
              <p>Assureurs garants</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Courtiers</h3>
              <p>Courtiers de proximité</p>
              <p>Courtiers grossistes</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Bienvenu sur Avenir Garanti</h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Vous etes une TPE PME ?</h4>
            <div class="card-body">
              <p class="card-text">Vous accompagner et vous conseiller tout au long de la vie de la caution.
                La caution est un enjeu majeur pour l’entreprise car si elle ne peut pas la fournir, son activité sera entravée.
                L’entreprise est donc confrontée à une problématique qui est de maîtriser les coûts financiers liés à ....
                </p>
            </div>
            <div class="card-footer">
              <a routerLink="menu/tpe-pme" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Vous êtes un courtier ?</h4>
            <div class="card-body">
              <p class="card-text">Le courtier de proximité reconnaît la difficulté que représente la sélection des meilleurs partenaires assureurs en caution et éprouvent le besoin d’optimiser son temps dans cette recherche pour respecter les impératifs de réactivité et de et de rentabilité...</p>
            </div>
            <div class="card-footer">
              <a routerLink="menu/courtier-simples" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Vous êtes Assureurs ?</h4>
            <div class="card-body">
              <p class="card-text">Assureurs de construction ou assureurs garants , Acquilam vous propose un partenariat gagnant gagant....</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Les valeurs d'acquilam</h2>
          <p>Les principaux objectifs d'Acquilam sont :</p>
          <ul>
            <li>
              <strong>Bootstrap v4</strong>
            </li>
            <li>jQuery</li>
            <li>Font Awesome</li>
            <li>Working contact form with validation</li>
            <li>Unstyled page elements for easy customization</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
      </div>

    </div>
