

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Bienvenu sur Cent pour cent Garanti</h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Vous etes une entreprise ?</h4>
            <div class="card-body">
              <p class="card-text">Aquilam vous accompagne et vous conseille tout au long de la vie de la caution.</p>
              <p class="card-text">
                La caution est un enjeu majeur pour l’entreprise car si elle ne peut pas la fournir, son activité sera entravée.
                L’entreprise est donc confrontée à une problématique qui est de maîtriser les coûts financiers liés à l'émission des cautions et au respect des dispositions contractuelles ou legales
                </p>

            <ul>
              <li>Négocier et metre en place vos lignes de caution</li>
              <li>	Gérer l’encours des cautions  </li>
            </ul>
           <b> <p class="card-text">Aquilam s'interesse à la vie de la caution , de sa création à sa mainlevée.</p></b>
            </div>
            <div class="card-footer">
              <a routerLink="menu/tpe-pme"  routerLinkActive="router-active" class="btn btn-primary">Allons plus loin ...</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Vous êtes un proféssionnel de l'assurance ?</h4>
            <div class="card-body">
              <p>Aquilam vous permet d’être présents sur les marchés de la caution.</p>
              <p class="card-text">Le professionnel de l'assurance connaît la difficulté que représente la sélection des meilleurs partenaires assureurs en caution et éprouvent le besoin d’optimiser son temps dans cette recherche pour respecter les impératifs de réactivité et de rentabilité.</p>
              <p> Le marché de la caution légale réglementée est complexe car il est lié à l'obligation d'obtenir soit : </p>
                <ul>
                <li> une garantie légale pour excercer une activité  (Agence de voyage, Interim, GFA, ICPE, CMI) </li>
                  <li> une garantie liée aux obligations contractuelles .</li>
               
                </ul>
                 <b> <p>Aquilam vous propose un partenariat solide</p></b>
            </div>
            <div class="card-footer">
              <a routerLink="menu/courtier-grossistes"  routerLinkActive="router-active" class="btn btn-primary">Allons plus loin ...</a>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Vous êtes Assureurs ?</h4>
            <div class="card-body">
              <p class="card-text">Assureurs de construction ou assureurs garants , Acquilam vous propose un partenariat gagnant gagant....</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div> -->
      </div>
      <!-- /.row -->

      <div class="container">
      <!-- Features Section -->
      <div class="row bg-white">
        <div class="col-lg-6 mb-4">
          <h2>Les valeurs d'Aquilam</h2>
          <p>Les principaux objectifs d'Aquilam sont :</p>
          <ul>
            <li>
              <strong>Bootstrap v4</strong>
            </li>
            <li>jQuery</li>
            <li>Font Awesome</li>
            <li>Working contact form with validation</li>
            <li>Unstyled page elements for easy customization</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-lg-6 mb-4">
          <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4 bg-white">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
      </div>
    </div>
    </div>
