<div class="container" style="margin-top: 2%">
   <!-- Page Heading/Breadcrumbs -->
   <h1 class="mt-4 mb-3">TPE - PME
      <!-- <small>Subheading</small> -->
    </h1>
  
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="">Accueil</a>
      </li>
      <li class="breadcrumb-item active">TPE -PME</li>
    </ol>
  
    <div class="row">

        <div class="col-lg-8">
            <div class="breadcrumb">
                <b><p>Notre objectif ?</p></b>
                 Que vous consacriez pleinement à la croissance et à la pérennité de votre entreprise.
                Un expert à votre écoute qui connaît votre métier (construction, BTP, Promotion Immobilière).
                Une expertise pour les  entreprises de toutes tailles de la TPE à la grande entreprise.
                Armand Gaillabaud, votre expert en caution vous accompagne dans la recherche de solutions de demandes de cautions de marchés  et  vous conseille pour vous permettre d’atteindre vos objectifs :
                
                L’expert s’intéresse à la vie de la caution de sa création à sa mainlevée.
                L’objectif de l’intervention ne se résume pas à la seule baisse des taux, des frais et à la gestion de l’encours mais aussi aux recours d’outils informatique développés soit par le client soit par le garant pour s’assurer en priorité d’être réactif dans les émissions des cautions (qui comme on l’a vue est cruciale pour l’activité de l’entreprise) et de la gestion des encours. Parce que les collaborateurs de l’entreprise ne disposent pas ni dtu temps, ni des moyens, ni parfois des compétences pour gérer efficacement l’encours des cautions, le recourt à un spécialiste s’impose. Le courtier travaille en amont, il doit anticiper les besoins de l’entreprise.
                L’expert  aura pour mission de :
                <ul>
                      <li>Négocier régulièrement les lignes de garantie de manière globale, en accord en avec la stratégie de l’entreprise,</li>
                <li>	 Etre facilitateur dans la résolution des demandes d’émissions spécifiques    (syndication, groupement,…),</li>
                <li>	Gérer l’encours des cautions et assurer son suivi, </li>
                <li>	Limiter le coût financier et le risque technique, juridique et optimiser les possibilités d’émission,</li>
                <li>	Négocier les lignes d’engagement avec tous les garants en optimisant leurs   différenciations dans l’émission des cautions,</li>
                <li>	Etudier les modèles de textes en fonction de la nature de l’acte à émettre et des dispositions contractuelles,</li>
                <li>	Etudier et négocier le cadre contractuel avec les garants,</li>
                <li>	Négocier les taux et les frais d’émission,</li>
                <li>	Auditer les process de mainlevée des actes,  </li>
                <li>	Assurer une veille économique et juridique (analyse du secteur d’activités, de la jurisprudence, texte réglementaire), </li>
                <li> 	Proposer des améliorations dans la gestion des cautions (dates prévisionnelle de fin de travaux, date de mainlevée dans l’acte surtout pour la S/T, caution en opposition …),     </li>
              </ul>
              
              </div>
              
        </div>
        <div class="col-lg-4">
            <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
          </div>
      </div>



</div>