<!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Services :
        <small>Expertise</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="">Accueil</a>
        </li>
        <li class="breadcrumb-item active">Services</li>
      </ol>

      <!-- Image Header -->
      <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">

      <div class="row">
          <!-- Sidebar Column -->
    
          <!-- Content Column -->
          <div class="col-lg-10 mb-4">
              <div class="breadcrumb">
                  <table border="1">
                    <tr>
                      <td class="tdCol1">Qu’elle est la microcible : à qui est destinée cette prestation ?</td>
                      <td>Le secteur d’activité cible est celui du BTP et de la promotion immobilière.
                          Le secteur du voyage et de l’intérim.
                          Mix produit- Mix clientèle : Voyage, Interim, Caution de marché, GFA- TPE/PME/ETI
                          Caution légale, réglementée et caution contractuelle ou financière
                          Le secteur géographique ; Paris IDF
                          Cabinet de courtage spécialisé dans la construction et courtier grossite
                          </td>
                    </tr>
                    <tr>
                        <td class="tdCol1">Qu’elle est l’objet de mon expertise ?</td>
                        <td>Négocier des lignes de caution (montant, conditions financières et techniques)
                            Conseiller techniquement et juridiquement (choix des textes, veille juridique et réglementaire, jurisprudence)
                            Réduire le coût financier (taux, frais, conditions de mainlevée des actes),
                            Améliorer, optimiser l’encours des cautions  ,
                            Elaborer et mettre en place une méthode, un processus de demande des cautions  (logiciel et méthodologie)
                            Etudier et mettre en place le dossier auprès des assureurs
                            Présentation des dossiers 
                            Analyse financière, technique et juridique du dossier
                            Accès à des garants assureurs en substitution des banques,
                            Accompagnement et assistance (aspects, financiers, techniques et juridiques,
                            Concevoir les outils et les méthodes de gestion des cautions (suivi et gestion des encours),                   
                            </td>
                      </tr>
                      <tr>
                          <td class="tdCol1">A quel moment ce besoin s’exprime-t-il ?</td>
                          <td>Création de la société,
                              Développement rapide de l’activité nécessitant des capacités supplémentaires,
                              Diversification, substituions des fournisseurs en caution actuels,
                              Recherche de nouvelles capacités et expertise,
                              Structurer ses demandes de caution, 
                              Bénéficier d’un appui technique et juridique,                    
                              </td>
                        </tr>
                        <tr>
                            <td class="tdCol1">Quel est le bénéfice pour le client : Pourquoi ce service est-il intéressant ?</td>
                            <td>Externaliser les compétences
                                Diminuer le coût des cautions, baisser son encours
                                Organiser la gestion des demandes de caution                      
                                </td>
                          </tr>
                          <tr>
                              <td class="tdCol1">Quel est le bénéfice pour les bénéficiaires au sein de l’entreprise ? </td>
                              <td>Dirigeant, DAF, Trésorier, qui n‘ont pas ni le temps ni les moyens, ni les informations pour améliorer leur capacité à souscrire de nouveau marché et assurer la sécurisation du risque et développer l’activité de la société                        
                                  </td>
                            </tr>
                            <tr>
                                <td class="tdCol1">Qui sont les prescripteurs que vous connaissez ?</td>
                                <td>Courtiers grossiste, Experts-Comptables,  courtier de proximité spécialisé en RC, DO et Garantie décennale, assureur construction, assureur,                    
                                    </td>
                              </tr>
                  </table>
                </div>
                <div class="breadcrumb" id="objectifs1">
                    <h2> Objectifs : </h2>
                  <p>
                      Vous accompagner et vous conseiller tout au long de la vie de la caution.
                      La caution est un enjeu majeur pour l’entreprise car si elle ne peut pas la fournir, son activité sera entravée.
                      L’entreprise est donc confrontée à une problématique qui est de maîtriser les coûts financiers liés à l’émission des cautions et de respecter les dispositions contractuelles  ou légales obligatoires pour réaliser les marchés de travaux.
                      La baisse de l’endettement est un objectif majeur. La réduction du coût financier liée à l’émission des cautions s’intègre dans cet objectif.
                      
                  </p>
                </div>
                <div class="breadcrumb" id="svc2">
                    <h2> L’expert s’intéresse à la vie de la caution de sa création à sa mainlevée.</h2>
                  <p>
                      L’objectif de l’intervention ne se résume pas à la seule baisse ,des taux, des frais, à la gestion de l’encours mais aussi aux recours d’outils informatique développés soit par le client soit par le garant pour s’assurer en priorité d’être réactif dans les émissions des cautions (qui comme on l’a vue est cruciale pour l’activité de l’entreprise) et de la gestion des encours. Parce que les collaborateurs de l’entreprise ne disposent pas ni du temps, ni des moyens, ni parfois des compétences pour gérer efficacement l’encours des cautions, le recourt à un spécialiste s’impose.
                       Le courtier travaille en amont, il doit anticiper les besoins de l’entreprise. 
                  </p>
                  <p>Le courtier aura pour mission de :</p>
                  <ul>
                      <li>	Négocier régulièrement les lignes de garantie de manière globale, en accord en avec la stratégie de l’entreprise et de sa répartition par entités,</li>
                      <li>	 Etre facilitateur dans la résolution des demandes d’émissions spécifiques (syndication,   groupement,…),</li>
                      <li>	Gérer l’encours des cautions et assurer son suivi, </li>
                      <li>	Limiter le coût financier et le risque technique, juridique et optimiser les possibilités d’émission,</li>
                      <li>	Négocier les lignes d’engagement avec tous les garants en optimisant leurs  différenciations dans l’émission des cautions,</li>
                      <li>	Etudier les modèles de textes en fonction de la nature de l’acte à émettre et des dispositions contractuelles,</li>
                      <li>	Etudier et négocier le cadre contractuel avec les garants,</li>
                      <li>	Négocier les taux et les frais d’émission,</li>
                      <li>	Auditer les process de mainlevée des actes,  </li>
                      <li>	Proposer des améliorations dans la gestion des cautions (dates prévisionnelle de fin de travaux, date de mainlevée dans l’acte surtout pour la S/T, caution en opposition …),  </li>   
                      
                  </ul>
                <p>L’intervention du courtier se fait tant au niveau du garant que  du client. </p> 
                  </div>
                  <div class="breadcrumb" id="svc3">
                      <h2> Intervention auprès du garant</h2>
                      <p>
                          Le courtier devient l’interlocuteur privilégié vis-à-vis du garant. 
                          L’entreprise reste toutefois en contact avec le garant et tient informée le courtier de toute démarche ou action.
                          La mission du courtier vis à vis du garant est résumée aux opérations suivantes :                          
                      </p>
                      <ul>
                          <li>	Négociation des conditions tarifaires,</li>
                          <li>	Renouvellement et/ou augmentation des lignes de cautions,</li>
                          <li>	Transmission et négociation des demandes d’émission spécifiques et complexes, </li>
                          <li>	Suivi des encours totaux de cautions auprès des garants (banques et assureurs),  </li>
                          
                      </ul>
                    </div>
                    <div class="breadcrumb" id="svc3">
                        <h2> Intervention auprès du client</h2>
                        <ul>
                            <li>	Audit des procédures dans la gestion des mainlevées des actes,</li>
                            <li>	Etude et proposition de modèles de textes,</li>
                            <li>	Recherche de capacités auprès des garants en fonction de leurs domaines de compétences en ce qui concerne :</li>
                            <ul>
                                <li> 	Les types de garanties (RG, ABF, S/T),</li>
                                <li> 	Les zones géographiques d’émission, </li>
                                <li>	Les outils informatiques (édition déportée des actes), </li>
                                <li>	Les pratiques de gestion des cautions (pondération sur la S/T, Main levée partielle, main levée automatique) </li>
                            </ul>
                            <li>	La recherche de solutions dans l’émission de garanties spécifiques en France et à l’internationale,</li>
                            
                        </ul>
                      </div>
                      <div class="breadcrumb" id="svc4">
                          <h2>La mise en place d’une méthodologie et d’un outil de gestion comme système d’amélioration de l’encours caution</h2>
                          <ul>
                              <li>	Etude de l’opportunité (avantages/inconvénients) d’adopter un nouvel outil informatique (vialink) non propriétaire mais multi-émetteur,</li>
                              <li>	Extraire toutes les cautions dont la durée paraît anormale par rapport au type de caution,</li>
                              <li>	Renseigner une date de garantie maximum après la date prévisionnelle de fin de travaux au-delà de laquelle l’acte devra être mainlevée,</li>
                              <li>	Recenser tous les actes en opposition,</li>
                              <li>	Mise en place d’un outil reporting de suivi des actes, si l’outil du garant ne le permet pas,</li>
                              <li>	Opportunité de faire appel à un outil informatique qui consolide l’ensemble des engagements externe ou interne, </li>
                              
                          </ul>
                          <p>Le gain pour l’entreprise est la mainlevée définitive de l’acte, la baisse de l’encours et la diminution des frais financiers.</p>
                          <p>Le courtier en tant qu’interlocuteur privilégié aura pour mission de réaliser un audit des encours en caution et de préconiser des solutions. </p>
                          <p>La tarification de l’audit sera fonction de son étendue et de la volumétrie.</p>
                        </div>
                <!-- /.row -->
          </div>
              <div class="col-lg-2 mb-4">
            <div class="list-group">
              <a href="#" class="list-group-item active">Objectifs</a>
              <a href="" class="list-group-item">L’expert</a>
              <a href="" class="list-group-item">Services</a>
              <a href="" class="list-group-item">Contact</a>
              <a href="#" class="list-group-item">FAQ</a>
              <a href="404.html" class="list-group-item">404</a>
            </div>
          </div>
        </div>
        <!-- /.row -->

      <!-- Marketing Icons Section -->
      


    </div>
